@import '~bootstrap/scss/bootstrap';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.hidden {
    display: none;
}

.show {
    display: block !important;
}

input.form-control{
  height: 40px !important;
}

.search {
  margin-bottom: 5px;
}
