@import '@/modules/variables.scss';

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    color: #2c3e50;
    height: 25px;
    text-indent: 5px;
}

.form-error {
    border: 1px solid red;
}

.btn {
    border: solid 1px $font_color;
    background-color: white;
    font-size: 12px;
    font-weight: 650;
    color: $font_color;
    height: 25px;
    cursor: pointer;

    padding: 0 5px 0 5px;

    &:hover {
        background-color: $font_color;
        color: white;
    }

    &.btn-right {
        float: right;
    }
}