@import '@/modules/variables.scss';

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    color: $font_color;
    font-family: $font_family;
    height: 100%;
    text-indent: 5px;
}

textarea {
    padding: 5px;
    text-indent: 0;
    min-height: 200px;
    resize: vertical;
    &.small {
        min-height: 50px;
    }
}

.form-error {
    border: 1px solid red;
    box-sizing: border-box;
}

.btn {
    border: solid 1px $font_color;
    border-radius: 1px;
    background-color: white;
    font-size: 12px;
    font-weight: 650;
    color: $font_color;
    height: 25px;
    cursor: pointer;

    padding: 0 5px 0 5px !important;

    &:hover {
        background-color: $font_color;
        color: white;
    }

    &:disabled {
        $color: rgba(0, 0, 0, .4);
        border: solid 1px $color;
        color: $color !important;
        background-color: white !important;
        cursor: default;
    }

    &.btn-right {
        float: right;
    }

    /* Buttons are bigger on mobile devices */
    @media screen and (max-width: 500px) {
        height: 30px;
    }
}
