input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    text-indent: 5px;
}

.form-error {
    border: 1px solid red;
}

.btn {
    border: solid 1px #2c3e50;
    background-color: white;
    font-size: 15px;
    height: 25px;
    cursor: pointer;
    &:hover {
        background-color: #2c3e50;
        color: white;
    }

    &.btn-right {
        float: right;
    }
}
