:80 {
    root /var/www/html
    prometheus {
        use_caddy_addr
        path /caddy-metrics
    }

    proxy /accounts/ claypot:80 {
        transparent
        websocket
    }
    proxy /admin/ claypot:80 {
        transparent
        websocket
    }
    proxy /api/ claypot:80 {
        transparent
        websocket
    }
}
