{% extends "claypot/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Edit Recipe" %} - {{ block.super }}{% endblock title %}

{% block content %}
    <div id="recipe">
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="title">{% trans "Title" %}</label>
                <input id="title" type="text" class="form-control" placeholder="{% trans "Enter recipe title" %}" v-model="recipe.title">
            </div>
            <div class="form-group">
                <label for="instructions">{% trans "Instructions" %}</label>
                <textarea id="instructions" class="form-control" placeholder="{% trans "Enter Instructions" %}" v-model="recipe.instructions"></textarea>
            </div>
            <hr>
            <div class="form-row" v-for="(ingredient, index) in recipe.recipe_ingredients">
                <div class="col">
                    <input
                        class="form-control"
                        placeholder="{% trans "Enter Amount" %}"
                        :value="getAmount(index)"
                        @input="setAmount"
                        :index="index"
                    >
                </div>
                <div class="col">
                    <multiselect
                        v-model="ingredient.unit"
                        :options="units"
                    ></multiselect>
                </div>
                <div class="col">
                    <multiselect
                        v-model="ingredient.ingredient"
                        :options="getIngredients"
                        @search-change="findIngredients"
                        @tag="createIngredient"
                        :loading="isSearchLoading(index)"
                        :taggable="true"
                        tag-position="bottom"
                        :id="index"
                    ></multiselect>
                </div>
                <div class="col">
                    <input class="form-control" placeholder="{% trans "Extra Information" %}" v-model="ingredient.extra">
               </div>
            </div>
            <button class="btn btn-primary" type="button" @click="addIngredient">{% trans "Add Ingredient" %}</button>

            <button class="btn btn-primary" type="button" @click="submitRecipe">Submit</button>
        </form>
    </div>
{% endblock content %}


{% block javascript %}
    <script src="{% static '/vendor/recipe.js' %}"></script>
{% endblock javascript %}
