{% extends "claypot/base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ recipe.title }} - {{ block.super }}{% endblock %}

{% block content %}
<article>
    <div>{{ recipe.title }}</div>
    {% if user.is_authenticated %}
        {% if not is_starred %}
        <form method="post" action="{% url "recipe-set-star" pk=recipe.pk %}">
            {% csrf_token %}
            <button type="submit">{% trans "Star this recipe" %}</button>
        </form>
        {% else %}
        <form method="post" action="{% url "recipe-unset-star" pk=recipe.pk %}">
            {% csrf_token %}
            <button type="submit">{% trans "Unstar this recipe" %}</button>
        </form>
        {% endif %}
    {% else %}
        <p>{% trans "Login to star your favourite recipes." %}</p>
    {% endif %}
    {% for ri in ingredients %}
    <div>
        {% if ri.amount_type == AMOUNT_TYPE_NUMERIC %}
            {% blocktrans with amount=ri.amount_numeric|intcomma unit=ri.unit ingredient=ri.ingredient context "Numeric amount of an ingredient" %}
                {{ amount }}&nbsp;{{ unit }} of {{ ingredient }}
            {% endblocktrans %}
        {% elif ri.amount_type == AMOUNT_TYPE_APPROX %}
            {% blocktrans with amount=ri.amount_approx ingredient=ri.ingredient context "Approximate amount of an ingredient" %}
                {{ amount }} of {{ ingredient }}
            {% endblocktrans %}
        {% elif ri.amount_type == AMOUNT_TYPE_NONE %}
            {% blocktrans with ingredient=ri.ingredient context "Unspecified amount of an ingredient" %}
                {{ ingredient }}
            {% endblocktrans %}
        {% else %}
            {% trans "This recipe looks broken. May ask an administrator about it." %}
        {% endif %}
    </div>
    {% endfor %}
    <div>
        {{ recipe.instructions }}
    </div>
    <div>{% trans "Tags" %}</div>
    <ul>
    {% for tag in tags %}
        <li>{{tag}}</li>
    {% endfor %}
    </ul>
</article>
{% endblock %}

